div.stColumn.st-emotion-cache-fvdmmq.e6rk8up2{
    border: 1rem;
    border-radius: 5px;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


[class="st-emotion-cache-1qdyr5 e1c29vlm7"] {
    padding: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

[class="st-emotion-cache-1mw54nq egexzqm0"]{
    font-size: large;
}

label.st-emotion-cache-17c4ue{
    display: flex;
}

div.st-emotion-cache-1wivap2.ehvl34q1{
    text-align: center;
    align-items: center;
}

[data-testid="stMetricValue"] {
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
}

[data-testid="stSidebarContent"]{
    border-radius: 35px;
}

.st-emotion-cache-t1wise {
    width: 100%;
    padding: 2rem 1rem 1rem;
    max-width: initial;
    min-width: auto;
}

[class="st-b9 st-ba"]{
    text-align: center;
}

[class="stColumn st-emotion-cache-1s4qa0f e6rk8up2"]{
    border: 1rem;
    border-radius: 5px;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

[class="stColumn st-emotion-cache-t45l2i e6rk8up2"] {
    border: 1rem;
    border-radius: 5px;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
